{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>firstpage</title>
    <link rel="stylesheet" href="{% static 'css/stamp/rice_map_main.css' %}">
</head>

<body>
    <div class="wrapper">
        <div class="top">
            <h1>밥지도</h1>
            <img src="{% static 'assets/img/logo.png' %}" alt="샘플 이미지">
        </div>
        <div class="bottom">
            <h3>하루에 하나씩 사진 리뷰 남기고<br>포인트 받자 !</h3>
        </div>
    </div>
</body>


<script>
  // 2초 뒤 /stamp/map 경로로 이동
  setTimeout(function() {
    window.location.href = "/stamp/map";
  }, 2000);
</script>


</html>

