<!-- menu/templates/menu/store_detail.html -->

<h2>{{ store.name }} ({{ store.category.name }})</h2>
<p>{{ store.address }}</p>

<h3>MENU</h3>
<ul>
  {% for menu in menus %}
    <li {% if menu.id == selected_menu.id %} style="color:deeppink;" {% endif %}>
      {{ menu.name }} / {{ menu.price }}원
    </li>
  {% endfor %}
</ul>
<h3>
  <a href="{% url 'menu:store_review_list' store.id %}">리뷰 더보기</a>
</h3>
<h3>
  <a href="{% url 'menu:store_location' store.id %}?menu_id={{ menu.id }}">먹으러 가기</a>
</h3>