{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/menu/store_location.css' %}">
  <title>Document</title>
</head>

<body>

  <header>
    <a href="{% url 'menu:store_detail' store.id menu.id %}">
      <i class="fa-solid fa-chevron-left" href=""></i>
    </a>
    <p>위치</p>
    <p>ㅤ</p>
  </header>


  <div class="container">
    <div class="top-bar">
      <h2><span class="store-name">{{ store.name }}</span> 위치</h2>
    </div>

    <div class="map">
      <div id="map" style="width:330px; height:432px;"></div>
    
      <!-- Kakao 지도 JS: autoload false 옵션 추가 -->
      <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2fd26df3bd24e884729e2cc4a57416f9&autoload=false"></script>
    
      <script>
        kakao.maps.load(function () {
          var container = document.getElementById('map');
          var options = {
            center: new kakao.maps.LatLng({{ store.latitude }}, {{ store.longitude }}),
            level: 3
          };
    
          var map = new kakao.maps.Map(container, options);
    
          // 커스텀 마커 이미지 경로
          var imageSrc = "{% static 'images/marker.png' %}";
          var imageSize = new kakao.maps.Size(38, 38);
          var imageOption = { offset: new kakao.maps.Point(20, 45) };
    
          // 마커 이미지 생성
          var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);
    
          // 마커 생성
          var marker = new kakao.maps.Marker({
            position: new kakao.maps.LatLng({{ store.latitude }}, {{ store.longitude }}),
            image: markerImage,
            map: map
          });
        });
      </script>
    </div>
    

    <div class="reviewBtn">
      <form action="{% url 'menu:store_review' store.id menu.id %}" method="get">
        <button type="submit" class="review-button">리뷰 작성하기</button>
      </form>
    </div>

    <div class="dismissBtn">
      <form action="{% url 'search:home' %}" method="get">
        <button type="submit" class="exit-button">리뷰는 나중에 할게요</button>
      </form>
    </div>

  </div>



</body>

</html>

