{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/menu/store_detail.css' %}">

</head>


<body>
  <div class="top-bar">
    <i class="fas fa-chevron-left" onclick="history.back()" style="cursor: pointer;"></i>
    <div class="top-bar-title">상세정보</div>
  </div>



  <div class="store-container">
    {% if store.image %}
        <img src="{{ store.image.url }}" alt="{{ store.name }}">
    {% else %}
        <img src="{% static 'images/store_default.png' %}" alt="기본 가게 이미지">
    {% endif %}

    <div class="store-name">
      <h2>{{ store.name }}</h2>
      <!--이거 음식종류 수정 필요-->
      <p>{{ store.category.name }}</p>
    </div>
    <div class="store-review">
      <p id="store-status">영업중</p>
      <p id="store-avg-review>">⭐{{ avg_rating }}</p>
      <p id="store=review-count">리뷰 {{ review_count }}</p>
    </div>
    <hr>
  </div>

  <div class="store-info">
    <h3 class="info-title">정보</h3>
    <div class="info-detail">
      <i class="fa-solid fa-location-dot"></i>
      <p>{{ store.address }}</p>
    </div>
    <div class="info-detail">
      <i class="fa-solid fa-phone"></i>
      <p>{{ store.number }}</p>
    </div>    {% comment %} <div class="info-detail">
      <i class="fa-solid fa-diamond-turn-right"></i>
      <p>4호선 충무로역 - 1번 출구 500미터</p>
    </div> {% endcomment %}
    <div class="info-detail">
      <i class="fa-solid fa-clock"></i>
      <p>{{ store.open_time }}</p>
    </div>
  </div>

  <div class="menu">
    <h1>MENU</h1>
    <form action="{% url 'menu:store_location' store.id selected_menu.id %}" method="post">
      {% csrf_token %}
      <div class="menu-scroll-wrapper">
        <div class="menu-grid">
          {% for menu in menus %}
          <label class="menu-list">
            <input type="radio" name="menu_id" value="{{ menu.id }}" {% if selected_menu and menu.id == selected_menu.id%}checked{% endif %} hidden>

            {% if menu.image %}
            <img src="{{ menu.image.url }}" alt="{{ menu.name }}">
            {% else %}
            <img src="{% static 'images/menu_default.png' %}" alt="메뉴 이미지">
            {% endif %}

            <p>{{ menu.name }} / {{ menu.price }}원</p>
          </label>
          {% endfor %}
        </div>
      </div>

      <div class="review-list">
        <div class="review-bar">
          <p>ㅤㅤㅤㅤ</p>
          <h1>REVIEW</h1>
          <a href="{% url 'menu:store_review_list' store.id %}">+ 더보기</a>
        </div>

        <div class="reviews">
          {% for review in recent_reviews %}
          <img src="{{ review.image.url }}" alt="리뷰 이미지">
          {% endfor %}
        </div>
      </div>

      <button type="submit" class="go-button">먹으러 가기!</button>
    </form>
  </div>





</body>

</html>