{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/store_detail.css' %}">

</head>


<body>
  <header>
    <i class="fa-solid fa-chevron-left"></i>
    <p>상세정보</p>
    <p>ㅤ</p>
  </header>


  <div class="store-container">
    <img src="/media/store_images/store.png" alt="음식점 사진">
    <div class="store-name">
      <h2>{{ store.name }}</h2>
      <p>음식 종류</p>
    </div>
    <div class="store-review">
      <p id="store-status">영업중</p>
      <p id="store-avg-review>">⭐{{ avg_rating }}</p>
      <p id="store=review-count">리뷰 {{ review_count }}</p>
    </div>
    <hr>
  </div>

  <div class="store-info">
    <h3>정보</h3>
    <div class="info-detail">
      <i class="fa-solid fa-location-dot"></i>
      <p>서울특별시 중구 필동로 1길30</p>
    </div>
    <div class="info-detail">
      <i class="fa-solid fa-phone"></i>
      <p>02-2260-3114</p>
    </div>
    <div class="info-detail">
      <i class="fa-solid fa-diamond-turn-right"></i>
      <p>4호선 충무로역 - 1번 출구 500미터</p>
    </div>
    <div class="info-detail">
      <i class="fa-solid fa-clock"></i>
      <p>영업 중 / 23:00에 영업 종료</p>
    </div>
  </div>

  <div class="menu">
    <h1>MENU</h1>
    <form action="{% url 'menu:store_location' store.id selected_menu.id %}" method="post">
      {% csrf_token %}
      <div class="menu-scroll-wrapper">
        <div class="menu-grid">
          {% for menu in menus %}
          <label class="menu-list">
            <input type="radio" name="menu_id" value="{{ menu.id }}" {% if selected_menu and menu.id == selected_menu.id%}checked{% endif %} hidden>

            {% if menu.image %}
            <img src="{{ menu.image.url }}" alt="{{ menu.name }}">
            {% else %}
            <img src="/media/menu_images/menu.png" alt="메뉴 이미지">
            {% endif %}

            <p>{{ menu.name }} / {{ menu.price }}원</p>
          </label>
          {% endfor %}
        </div>
      </div>

      <div class="review-list">
        <div class="review-bar">
          <p>ㅤㅤㅤㅤ</p>
          <h1>REVIEW</h1>
          <a href="#">+ 더보기</a>
        </div>

        <div class="reviews">
          {% for review in recent_reviews %}
          <img src="{{ review.image.url }}" alt="리뷰 이미지">
          {% endfor %}
        </div>
      </div>

      <button type="submit" class="go-button">먹으러 가기!</button>
    </form>
  </div>





</body>

</html>