{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login-page</title>
  <link rel="stylesheet" href="{% static 'css/accounts/login.css' %}">
</head>

<body>
  <div class="container">
    <h1>로그인</h1>
    <div class="Frame">
      <form action="" method="post">
        {% csrf_token %}
        <div class="input-group">
          <input type="text" id="user-id" name="username" placeholder="아이디" required>
        </div>

        <div class="input-group">
          <input type="password" id="user-pw" name="password" placeholder="비밀번호" required>
        </div>

        <a class="button" href={% url 'search:home' %}>
          <button type="submit" id="loginBtn">로그인</button>
        </div>
        {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}

        <a href={% url 'accounts:signup' %}>회원가입</a>
      </form>


    </div>



  </div>

</body>

</html>