{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>마이페이지</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <link rel="stylesheet" href="{% static 'css/accounts/mypage.css' %}">

</head>

<body>

  <div class="mypage-header">
    <div class="user-info">

      <div class="profile-top">
        <!-- 학교, 이름, 주먹밥 개수 표시 부분 -->
        <div class="username">
          <p class="school">{{ user.profile.school.name }}</p>

          <div style="display: flex; align-items: center; gap: 6px;">
            <h2>{{ user.profile.nickname }} 님</h2>
            <a href="{% url 'accounts:edit_profile' %}" class="edit-icon"
              style="color: white; font-size: 18px; margin-left:6px;" title="프로필 수정">
              <i class="fa-regular fa-pen-to-square"></i>
            </a>
          </div>

          <p style="margin-top: 10px">주먹밥 개수 🍙 <strong style="margin-left: 8px; font-size: 18px;">{{riceball_count}}개</strong></p>
        </div>

        <!-- 프로필 아이콘 -->
        <div class="profile-pic default-icon" style="margin-left: 28px;">
          <i class="fa fa-user"></i>
        </div>
      </div>

    </div>
  </div>

  {% if latest_review %}
    <a class="review-click"
      href="{% url 'menu:store_review' latest_review.menu.store.id latest_review.menu.id %}">
      <div class="review-container">
        <div class="latest-review">
          <div class="top-line">
            <i class="fa-solid fa-xmark close-icon"></i>
          </div>
          <div class="second-line">
            <p><strong>{{ latest_review.menu.name }}</strong>이 리뷰를 기다리고 있어요!</p>
            {% if latest_review.menu.image %}
              <img src="{{ latest_review.menu.image.url }}" alt="메뉴 이미지">
            {% else %}
              <img src="{% static 'images/menu_default.png' %}" alt="기본 이미지">
            {% endif %}
          </div>
        </div>
      </div>
    </a>
  {% endif %}

  


  <div class="menu-list">
    <a href="{% url 'accounts:my_likes' request.user.id %}" class="menu-item">나의 찜<span>›</span></a>
    <a href="{% url 'accounts:my_visits' request.user.id %}" class="menu-item">방문 기록<span>›</span></a>
    <a href="{% url 'accounts:my_reviews' request.user.id %}" class="menu-item">나의 리뷰<span>›</span></a>
  </div>

  <!-- 네비게이션 바 여백 확보 -->
  <div class="navbar-space"></div>

  <!-- 하단 네비게이션 바 상속 -->
  {% include 'shared/_navbar.html' %}

</body>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const closeBtn = document.querySelector('.close-icon');
    const reviewBox = document.querySelector('.review-click');  // 변경: 더 상위 요소 선택

    if (closeBtn && reviewBox) {
      closeBtn.addEventListener('click', function (e) {
        e.preventDefault();
        reviewBox.style.display = 'none';  // 리뷰 전체 영역 제거
      });
    }
  });
</script>

</html>