{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>마이페이지</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <link rel="stylesheet" href="{% static 'css/accounts/mypage.css' %}">
  
</head>

<body>

  <div class="mypage-header">
    <div class="user-info">
  
      <div class="profile-top">
        <!-- 학교, 이름, 주먹밥 개수 표시 부분 -->
        <div class="username">
          <p class="school">{{ user.profile.school.name }}</p>
  
          <div style="display: flex; align-items: center; gap: 6px;">
            <h2>{{ user.username }} 님</h2>
            <a href="{% url 'accounts:edit_profile' %}" class="edit-icon" style="color: white; font-size: 18px; margin-left:6px;" title="프로필 수정">
              <i class="fa-regular fa-pen-to-square"></i>
            </a>
          </div>
  
          <p style="margin-top: 10px">주먹밥 개수 🍙 <strong style="margin-left: 8px; font-size: 18px;">{{ riceball_count }}개</strong></p>
        </div>
  
        <!-- 프로필 아이콘 (프로필 사진 업로드 가능) -->
        <form id="profileForm" action="{% url 'accounts:upload_profile_image' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="profileImageInput">
            {% if user.profile.image %}
              <img
                id="profileImage"
                src="{{ user.profile.image.url }}"
                alt="프로필 이미지"
                class="profile-pic"
              />
            {% else %}
              <div class="profile-pic default-icon" style="margin-left: 28px;">
                <i class="fa fa-user"></i>
              </div>
            {% endif %}
          </label>
          <input type="file" name="profile_image" id="profileImageInput" style="display: none;" accept="image/*" onchange="document.getElementById('profileForm').submit();">
        </form>
      </div>
  
    </div>
  </div>
  

  <div class="menu-list">
    <a href="{% url 'accounts:my_likes' request.user.id %}" class="menu-item">나의 찜<span>›</span></a>
    <a href="{% url 'accounts:my_visits' request.user.id %}" class="menu-item">방문 기록<span>›</span></a>
    <a href="{% url 'accounts:my_reviews' request.user.id %}" class="menu-item">나의 리뷰<span>›</span></a>
  </div>

  <!-- 네비게이션 바 여백 확보 -->
  <div class="navbar-space"></div>

  <!-- 하단 네비게이션 바 상속 -->
  {% include 'shared/_navbar.html' %}

</body>

</html>