{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/accounts/signup.css' %}">
</head>

<body>
    <div class="topBar">
        <i class="fa-solid fa-arrow-left"
        onclick="location.href='{% url "accounts:login" %}'"></i>
        <h1>회원가입</h1>
        <p class="topBar-right"></p>
    </div>

    <form action="{% url 'accounts:signup' %}" method="post">
        {% csrf_token %}
        <div class="IdPw">
            <div class="ID">
                <h3>아이디</h3>
                <input type="text" id="user-id" name="username" placeholder="입력" required>
                <p>영문, 숫자를 포함한 8자 이내로 작성해주세요.</p>
            </div>

            <div class="PW">
                <h3>비밀번호</h3>
                <input type="password" id="user-pw" name="password" placeholder="입력" required>
                <p>영문, 숫자를 포함한 8자 이상으로 작성해주세요.</p>
            </div>

            <div class="pwCheck">
                <h3>비밀번호 확인</h3>
                <input type="password" id="user-pwCheck" name="confirm" placeholder="입력" required>
                <p>비밀번호를 한 번 더 작성해주세요.</p>
            </div>
        </div>

        <div class="profile">
            <div class="nickname">
                <h3>닉네임</h3>
                <input type="text" id="user-nickname" name="nickname" placeholder="입력" required>
                <p>한글로 6자 이내로 작성해주세요.</p>
            </div>

            <div class="school">
                <h3>학교 설정</h3>
                <input type="text" id="user-school" name="school" placeholder="입력" required>
                <p>재학 중인 학교를 설정해주세요. <span style="color: #FF4C4F;">변경 불가합니다.</span></p>
            </div>
        </div>

        <div class="button">
            <button type="submit" id="signupBtn" disabled>회원가입 완료!</button>
        </div>
    </form>

    <script defer src="{% static 'js/signup.js' %}"></script>
</body>

</html>