{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>홈 | 밥플</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>
<body>

  <!-- 헤더 -->
  <div class="header">
    <div class="header-left">
      <iconify-icon icon="mdi:location" style="color: white;" width="18" height="18"></iconify-icon>
      <span>동국대학교</span>
    </div>

    {% comment %} <div class="header-right">
      <button class="range-btn">500m</button>
    </div> {% endcomment %}
    <div class="header-right">
      <a href="{% url 'search:home' %}?radius=500" class="range-btn">500m</a>
      <a href="{% url 'search:home' %}?radius=1000" class="range-btn">1km</a>
      <a href="{% url 'search:home' %}?radius=2500" class="range-btn">2.5km</a>
      <a href="{% url 'search:home' %}?radius=5000" class="range-btn">5km</a>
    </div>


  </div>

  <h1 class="main-title">밥플</h1>

<!-- 검색부분 -->
<div class="search-section">
  <p class="input-label">지금 가진 금액을 입력해주세요!</p>
  <form id="price-form" method="get" action="{% url 'search:recommend_result' %}">
    <input type="number" name="price" id="price-input" class="amount-input" placeholder="예) 5000" min="0" step="1000">
    <button type="submit" class="search-button">검색</button>
  </form>
  <p id="price-warning" style="color: red; font-size: 13px; display: none; margin-top: 5px;">
    1000원 이상의 금액을 입력해주세요.
  </p>
</div>

  <!-- 인기 있는 메뉴 (광고) -->
  {% comment %} <div class="menu-section">
    <p class="hot-menu"><span style="color: orange;">🔥</span> 인기 있는 메뉴 (광고)</p>
    <div class="menu-card-placeholder"></div>
  </div> {% endcomment %}

  <!-- 이 맡 코드 광고 뜨도록 하는 거-->
  <p class="hot-menu"><span style="color: orange;">🔥</span> 인기 있는 메뉴 (광고)</p>
  {% if advertised_menu %}
  <div class="menu-card">
    <div class="ad-image-box">
      <img src="{{ advertised_menu.image.url }}" alt="{{ advertised_menu.name }}" class="menu-img-ad">
    </div>
    <p><strong>{{ advertised_menu.name }}</strong> - {{ advertised_menu.price }}원</p>
    <p style="font-size: 13px; color: gray;">{{ advertised_menu.store.name }}</p>
  </div>
{% else %}
  <div class="menu-card-placeholder"></div>
{% endif %}




  <!-- 하단 네비게이션 바 상속 받아오는거 -->
  {% include 'shared/_navbar.html' %}

  <script src="{% static 'js/home.js' %}"></script>

</body>
</html>
