* {
box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 50svh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #FF4C4F;
    font-size: 30px;
}

.Frame {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    height: 80%;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10%;
    height: 100%;
    padding: 8% 10% 0% 10%;
    width: 100%;
    align-items: center;
}

.input-group {
    border: 2px solid #FF4C4F;
    bordder-radius: 10px;
    width: 100%;
    overflow: hidden;
    max-width: 300px;
}

.input-group input {
    width: 100%;
    border: none;
    padding: 10px 0px 10px 20px;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
}

button {
    width: 100%;
    min-width: 300px;
    height: 45px;
    background-color: #FF4C4F;
    color: white;
}

a{
    color: #757575;
    font-size: 12px;
    text-decoration: none;
}