* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

header {
    height: 10%;
    width: 100%;
    background-color: #FF4C4F;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 5% 3% 5%;
}

.header-bar{
    color:white;
    font-weight: 500;
    font-size: 15px;
}

select{
    border: none;
    outline: none;
    background-color: white;
    color: #FF4C4F;
    width: 100%;
    height: 30%;
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
    padding: 4px 11px 4px 18px;
    display: flex;
    justify-content: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 30% 8% 20% 8%;
}

h1{
    display: flex;
    justify-content: center;
    color: #FF4C4F;
    padding-bottom: 15%;
}
