.topBar {
    padding-top: 15%;
    width: 100%;
    height: 5svh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8%;
}

i {
    width: 18px;
    height: 18px;
    color: #FF4C4F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding-left: 5%;
    font-weight: lighter;
}

h1 {
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #FF4C4F;
}

.topBar-right {
    width: 20px;
    height: 20px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

form h3{
    font-size: 14px;
    font-weight: 500;
    color: #FF4C4F;
    margin: 0 0 2% 0;
}

form input{
    color: #8A8A8A;
    border: 2px solid #DCDCDC;
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
    padding: 11px 0px 11px 20px;
    font-size: 15px;
    outline: none;
    font-weight: 200;
    box-sizing: border-box;
}

form input::placeholder{
    color: #DCDCDC;
}

form p{
    font-size: 10px;
    color: #8A8A8A;
    margin: 1% 0 5% 0;
}

.IdPw{
    padding-bottom: 7%;
}

button{
    background-color: #FF4C4F;
    height: 45px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.profile{
    padding-bottom: 12%;
}

