html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10% 3% 3% 3%;
    height: 40px;
    margin: 0;
    font-weight: 600;
}

body {
    width: 100%;
    text-align: center;
}

.container {
    position: relative;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    overflow: hidden;
}

.circle-container {
    position: absolute;
    width: 450px;
    height: 450px;
    left: 50%;
    /* 가로 중앙 정렬 */
    transform: translateX(-50%);
    border-radius: 50%;
    overflow: hidden;
    background: radial-gradient(circle,
            rgba(255, 45, 48, 0.282) 50%,
            rgba(255, 114, 116, 0.198) 60%,
            rgba(255, 166, 166, 0.185) 65%,
            transparent 70%
            /* 끝: 완전히 투명W*/
        );

    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box img {
    width: 240px;
    height: 145px;
    border: 1px solid gray;
}

.card {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 240px;
    background-color: white;
    border-radius: 10px;
}

.menu-info {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 4%;
    gap: 8px;
}

#menu-name,
#store-name {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

/* 기본 스타일 복구 */
#menu-name {
    font-size: 22px;
    font-weight: 600;
    color: black;
    max-width: 120px;
}

#store-name {
    font-size: 16px;
    font-weight: 600;
    color: #8A8A8A;
    max-width: 100px;
}


.review-info {
    display: flex;
    justify-content: space-around;
    margin: 1% 2%;
    align-items: center;

}

.review-info p {
    margin: 0;
}

#store-status {
    font-size: 16px;
    font-weight: 600;
}

#store-avg-review {
    font-size: 12px;
    font-weight: 600;
}

#store-review-count {
    font-size: 15px;
    font-weight: 600;
}

.stars {
    display: flex;
    margin-top: 15%;
    font-size: 30px;
    gap: 25px;
}

.confirm-msg {
    display: flex;
    margin-top: 10%;
    font-size: 15px;
    font-weight: 600;
}

#confirmMsg {
    font-size: 15px;
    text-align: center;
    color: #333;
    max-width: 80%;
    font-weight: 600;
    margin: 1.7rem auto 0;
    word-break: keep-all;
}

.nickname {
    color: #FF4C4F;
    font-weight: bold;
}


.second-line {
    margin-top: 0.3em;
}

.image-box {
    position: relative;
}

.bookmark-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    color: lightgray;
    /* 기본: 회색 */
}

.bookmark-btn.active {
    color: #FF4C4F;
    /* 찜한 경우: 빨간색 */
}