header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10% 3% 3% 3%;
    height: 40px;
    margin: 0;
    font-weight: 600;
}

.store-name{
    color: #FF4C4F;
}