{% load static %}

<!-- <p><strong>📍 현재 설정된 학교:</strong> {{ school.name }}</p>

<form method="get" action="{% url 'search:recommend_result' %}">
  <input type="number" name="price" placeholder="예: 5000원" required>
  
  <select name="radius">
    <option value="500">500m</option>
    <option value="1000">1km</option>
  </select>

  <button type="submit">검색</button>
</form>
-->


<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>밥풀 - 메인</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>


<body>
  <header>
    <div class="header-bar">
      <div class="left">
        <span><i class="fa-solid fa-location-dot"></i> {{ school.name }}</span>
      </div>
      <!--어디에 쓰는 코드죠...?
      <div class="right">
        {% if user.is_authenticated %}
        <span>{{ user.username }}</span>
        <a href="{% url 'accounts:logout' %}">logout</a>
        <a href="{% url 'accounts:mypage' request.user.id %}">mypage</a>
        {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a>
        <a href="{% url 'accounts:signup' %}">signup</a>
        {% endif %}
      </div>
      -->
    </div>


    <form method="get" action="{% url 'search:recommend_result' %}">
      <select name="radius">
        <option value="500">500m</option>
        <option value="1000">1km</option>
        <option value="2500">2.5km</option>
        <option value="5000">5km</option>
      </select>
  </header>

  <div class="container">
    <h1>밥플</h1>
    <p>지금 가진 금액을 입력해주세요!</p>

    <input type="number" name="price" placeholder="예: 5000원" required>
    <button type="submit">검색</button>
    </form>

    <div class="ads">
      <p class="ads-title">🔥 인기 있는 메뉴 (광고)</p>
      <div class="ads-box"></div>
    </div>
  </div>

  <footer>
    <a href="{% url 'accounts:mypage' request.user.id %}"><i class="fa fa-user">mypage</i></a>
    <a href="{% url 'search:home' %}"><i class="fa fa-home">home</i></a>
    <a href="#"><i class="fa fa-map-marker-alt">stamp(기능X)</i></a>
  </footer>
</body>

</html>