{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>랜덤추천대기</title>
  <link rel="stylesheet" href="{% static 'css/search/random_wait.css' %}">
</head>

<body data-redirect-url="{% url 'search:random_result' %}?price={{ price }}&radius={{ radius }}{% if category %}&category={{ category }}{% endif %}">
  <h1>오늘은 어떤 메뉴를 먹을까 ?</h1>
  <div class="box-container">
    <div class="box rolling">?</div>
    <div class="box rolling">?</div>
    <div class="box rolling">?</div>
  </div>

  <script src="{% static 'js/random_wait.js' %}"></script>
</body>

</html>
