* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
    background-color: #ffffff;
  }

  .mypage-header {
    height: 324px;
    border-radius: 0px 0px 0px 20px;
    background: linear-gradient(130deg, #FF4C4F 2.67%, rgba(255, 76, 79, 0.60) 58.4%);
    color: white;
    padding: 36px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 100px;
  }

  .school {
    font-size: 13px;
    opacity: 0.9;
  }

  .user-name {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .riceball {
    font-size: 14px;
    font-weight: 500;
  }

  .riceball-count {
    font-size: 20px;
    font-weight: bold;
    margin-left: 8px;
  }

  .icon-section {
    font-size: 48px;
  }

  .menu-list {
    margin: 30px auto;
    width: 80%;
  }

  .menu-item {
    padding: 16px 0;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #000;
    text-decoration: none;
  }

  .menu-item:hover {
    color: #ff5e62;
    font-weight: bold;
  }

  .menu-item:last-child {
    border-bottom: none;
  }

  .menu-item span {
    color: #aaa;
  }

  /* 모바일 전용 하단 네비는 외부에서 include */
  .navbar-space {
    height: 80px;
    /* 네비게이션 높이만큼 공간 확보 */
  }

  .profile-top {
display: flex;
justify-content: space-between;
align-items: center;
}

.profile-pic {
width: 64px;
height: 64px;
border-radius: 50%;
overflow: hidden;
background-color: white;
border: 2px solid #fff;
display: flex;
justify-content: center;
align-items: center;
}

.profile-pic img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 50%;
}

.default-icon i {
font-size: 28px;
color: #FF4C4F;
}

.edit-icon img {
vertical-align: middle;
}


.username h2 {
font-size: 24px;
color: white;
margin-bottom: 8px;
}

.username p {
font-size: 15px;
color: white;
}

.latest-review{
  width: 349px;
  height: 158px;
  background: linear-gradient(130deg, #ffaeaf 2.67%, rgba(255, 51, 54, 0.797) 58.4%);
  border-radius: 20px;
}

.review-container{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.top-line{
  display: flex;
  width: 100%;
  justify-content: end;
}

.second-line{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 15px;
  margin-top: 10px;
  gap: 15px;
}

.latest-review i{
  color: white;
  font-size: 15px;
  margin: 10px 20px 0 0;
}


.review-click{
  text-decoration: none;
  cursor: pointer;
}