* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(130deg, #FF4C4F 2.67%, rgba(255, 76, 79, 0.60) 58.4%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    height: 100svh;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
    align-items: center;
}

h1 {
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20%;
    margin-top: 30%;
}

img {
    width: 252px;
    height: 231px;
    margin-bottom: 24px;
}


h3 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    padding-bottom: 100px;
}

button {
    width: 100%;
    max-width: 400px;
    height: 55px;
    background-color: #FFFFFF;
    color: #000000;
    font-weight: 700;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    margin-bottom: 20%;
}